svg[title="open"] {
  cursor: pointer;
  color: #505258;
}
svg[title="open"]:hover {
  color: #31333f;
}

/* color in options dropdown*/
ul[data-testid="stSelectboxVirtualDropdown"] li div div {
  color: #31333f;
}

/* Hover clean input*/
.st-dt:hover {
  fill: #31333f;
}

/* font-size label inputs .st-emotion-cache-ocqkz7*/
.st-emotion-cache-1xulwhk {
  font-size: 1rem;
}

/* between chats*/
/* .st-emotion-cache-ocqkz7.e1lln2w80 {
  gap: 2rem;
} */

/* hide top menu */
#MainMenu {
  visibility: hidden;
}
/* hide header and footer */
/* footer {visibility: hidden;} */
/* header {visibility: hidden;} */
.st-emotion-cache-zy6yx3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* For page 2 */
.st-bj {
  color: #31333f;
}
input[type="text"] {
  background-color: #f5f5f5 !important;
  color: black;
}
div[data-baseweb="select"] > div {
  background-color: #f5f5f5 !important;
  color: black;
}
div[data-baseweb="base-input"] > input {
  background-color: #f5f5f5 !important;
  color: black;
}
.st-emotion-cache-c4cxnz {
  background-color: #f5f5f5 !important;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #04631d;
}
div[data-baseweb="calendar"] button.st-bp {
  color: rgb(221, 224, 221);
}
div[role="presentation"] .st-fl {
  color: rgb(221, 224, 221);
}
